/* Apply Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    background-color: rgb(116, 33, 78);
}

h1 {
    text-align: center;
    font-size: 3.1rem;
    margin-top: 2.5rem;
    color: black;
}

/* Style the scoreboard */
.scoreboard {
    display: flex;
    justify-content: center;
    margin-top: 2.6rem;
}

.scoreboard > div {
    font-size: 2rem;
    padding: 0.7rem;
    margin: 0 1rem;
    border: 2.2px solid black;
    border-radius: 11px;
    color: black;
}

/* Style choices */
.choices {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
    padding: 2rem;
    border: 2.3px solid black;
    border-radius: 10px;
    background-color: rgb(131, 87, 111);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.choice i {
    color: black;
    font-size: 54px;
}

.choice:hover {
    transform: scale(1.2);
}

.choice:active {
    transform: scale(0.9);
}

/* Style result */
.result {
    text-align: center;
    font-size: 2.2rem;
    margin-top: 2.4rem;
    color: black;
}

#computer-choice {
    text-align: center;
    font-size: 2rem;
    color: black;
}

/* Style for the restart button */
.restart {
    display: block;
    margin: 4rem auto 1rem auto;
    font-size: 1.8rem;
    border: 2px solid black;
    padding: 1rem 2rem;
    border-radius: 12px;
    background-color: rgb(131, 87, 111);
    cursor: pointer;
    color: black;
    transition: background-color 0.3s ease-in-out;
}

.restart:hover {
    background-color: rgb(146, 27, 43);
}

.restart:active {
    transform: scale(0.9);
}

/* Add style for responsive design */
@media only screen and (max-width: 600px) {

    .scoreboard {
        flex-wrap: wrap;
    }

    .scoreboard > div {
        margin: 1rem 0;
    }
    
    .choices {
        flex-wrap: wrap;
    }

    .choice {
        margin: 2rem 1rem;
    }
}