/* Apply Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    background-color: rgb(19, 152, 214);
}

h1 {
    text-align: center;
    font-size: 3.1rem;
    margin-top: 2.3rem;
    color: black;
}
